<div style="text-align: center;">
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" style="text-align: center;">
        <h3>Azmy Store</h3> 
    </nav>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" style="text-align: center;">
        <ul class="navbar-nav mr-auto" style="text-align: center;display: flex;">
            <li class="nav-item active" style="display: inline;">
                <a class="nav-link" href="#home" routerLink="/">Product List</a>
            </li>
            <li class="nav-item" style="display: inline;">
                <a class="nav-link" href="#user" routerLink="/product-cart">Prodcut Cart</a>
            </li>
        </ul>
    </nav>
</div>
